<%- include('header') -%>

<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3 style="color: aliceblue;">Welcome to Dashboard</h3>
        <img class="user-img" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png">
        <h5 style="color: aliceblue;"><%=locals.user ? user:"User" %></h5>
        <a class="btn btn-outline-info" style="color: black;" href="/route/logout">Logout</a>
    </div>
</div>

<%- include('footer') -%> 